$font-size-base:1rem;
$navbar-height:$font-size-base*3;
$navlink-height:$font-size-base*2;
$navbtn-height:$font-size-base*2;
$brand-height:$font-size-base*2;
$navform-height:$font-size-base*2;
$navitem-space:$font-size-base*1.5;
$navform-padding:$font-size-base*0.75;
$navform-border:1px;